In [2]:
import pandas as pd
from president_speech.db.parquet_interpreter import get_parquet_full_path

parquet_full_path = get_parquet_full_path()
df = pd.read_parquet(parquet_full_path)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8771 entries, 5368 to 102591
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   division_number  8771 non-null   int64
 1   president        8771 non-null   object
 2   title            8771 non-null   object
 3   date             8771 non-null   object
 4   location         8771 non-null   object
 5   kind             8771 non-null   object
 6   speech_text      8771 non-null   object
dtypes: int64(1), object(6)
memory usage: 548.2+ KB

In [4]:
df = pd.read_parquet(parquet_full_path, columns=["president"])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8771 entries, 5368 to 102591
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   president  8771 non-null   object
dtypes: object(1)
memory usage: 137.0+ KB

In [8]:
# president 로 그룹핑
grouped = df.groupby("president")

# count 를 해서 새로운 테이블로 생성
result = grouped.size().reset_index(name="count")

In [9]:
result

   president  count
0        김대중    822
1        김영삼    728
2        노무현    780
3        노태우    601
4        문재인   1389
5        박근혜    493
6        박정희   1270
7        윤보선      3
8        이명박   1027
9        이승만    998
10       전두환    602
11       최규하     58

In [10]:
type(result)

pandas.core.frame.DataFrame

In [17]:
import pandas as pd

# dataframe 생성
df = pd.DataFrame({
    "date": ["2011", "2012", "2023.01.01", "2023-07-20", ""]
})

# 빈 문자열과 널값 제외
df = df.dropna(how="any")

df["date"] = df["date"].str[:4]

# 연도별 집계
year_counts = df["date"].value_counts()

# 출력
print(year_counts)

date
2023    2
2011    1
2012    1
        1
Name: count, dtype: int64

In [18]:
type(year_counts)

pandas.core.series.Series

In [27]:
import pandas as pd

# dataframe 생성
df = pd.DataFrame({
    "date": ["2011", "2012", "2023.01.01", "2023-07-20", ""]
})

# 빈 문자열과 널값 제외
df = df.dropna(how="any")

# 날짜 형식 변환
df["date"] = df["date"].str[:4]

# 날짜 형식에 맞지 않는 데이터 제외
df = df[df["date"].str[:4] != ""]

# 연도별 집계
year_counts = df["date"].value_counts().reset_index(name="count").sort_values("date")

# 출력
year_counts

   date  count
1  2011      1
2  2012      1
0  2023      2